@import url("https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&display=swap");
:root {
  --color-accent: rgb(178, 11, 216);
  --color-secondary: rgb(239, 65, 16);
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  background-color: rgb(240, 239, 239);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #000;
}
img {
  filter: grayscale(100%);
  transition: filter 0.3s;
}
.story-card:hover img {
  filter: none;
}

h1 {
  font-family: "Montserrat Subrayada", sans-serif;
  text-decoration: none;
  font-size: 4rem;
  margin: 0;
}

h2 {
  font-family: "Montserrat Subrayada", sans-serif;
}

h3 {
  font-size: 1.6rem;
  margin: 0;
}

#header-text {
  flex-basis: 80%;
  display: flex;
}

nav {
  flex-basis: 20%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

a {
  margin: 2px;
  text-decoration: none;
  color: #000;
}

a,
p,
ul,
li {
  font-family: monospace;
}
.center {
  text-align: center;
}

#news.custom-form {
  max-width: 700px;
  width: 100%;
  margin: 2rem auto;
  padding: 2rem;
  background-color: white;
  border: 1px solid grey;
  border-radius: 10px;
}
#news.custom-form h2 {
  margin-bottom: 3rem;
}
#news.custom-form p,
.auth.custom-form p {
  display: grid;
  grid-template-columns: 20% 80%;
  align-items: center;
}
.custom-form input[type="text"],
.custom-form input[type="url"],
.custom-form input[type="password"],
.custom-form input[type="email"],
.custom-form textarea {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid rgb(171, 171, 171);
  background-color: rgb(245, 242, 242);
  transition: background-color 0.3s;
  /* width: 100%; */
}
.custom-form .helptext {
    grid-column: 1/3;
    margin-block: 10px;
    font-weight: bold;
}
.custom-form textarea {
  height: 50px;
}
#comment.custom-form textarea {
  width: 100%;
  height: 50px;
}
.custom-form textarea:hover,
.custom-form textarea:active,
.custom-form textarea:focus {
  background-color: white;
  outline: none;
}
#comment.custom-form label {
  -webkit-backface-visibility: hidden;
  visibility: hidden;
  display: block;
  width: 0;
  height: 0;
}
.custom-form input[type="date"] {
  width: 30%;
  border: 1px solid grey;
  background: #fefefe;
  padding: 5px;
}
.custom-form input[type="submit"],
.custom-form button[type="submit"],
.custom-form .button  {
  cursor: pointer;
  display: block;
  margin: 3rem auto 0;
  padding: 15px 30px;
  text-transform: uppercase;
  background-color: rgb(255, 255, 255);
  color: rgb(71, 70, 70);
  border: 2px solid var(--color-accent);
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: bold;
  transition: all 0.3s;
  width: fit-content;
}
.custom-form input[type="submit"]:hover,
.custom-form button[type="submit"]:hover,
.custom-form .button:hover {
  background-color: var(--color-accent);
  color: white;
}
.custom-form input[type="submit"].delete {
    border-color: var(--color-secondary);
}
.custom-form input[type="submit"].delete:hover {
    background-color: var(--color-secondary);
}
.custom-form .button {
    margin-top: 0;
}
.auth.custom-form {
    width: 100%;
    max-width: 500px;
    padding: 2rem;
    background-color: white;
    border: 1px solid grey;
    border-radius: 10px;
    margin: 2rem auto;
}
.create-story {
  background-color: rgb(213, 212, 212);
  transition: all 0.4s;
  padding: 5px 10px;
}
.create-story:hover {
  text-decoration: underline;
  background-color: rgb(223, 172, 235);
}
.user-wrapper {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-between;
}
.user-name {
  color: var(--color-secondary);
  font-weight: bold;
  text-decoration: underline;
  transition: color 0.4s;
}
.user-name:hover {
  color: var(--color-accent);
}
.user-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}
.user-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.user-card .story-card {
  background-color: white;
  padding: 1rem;
  border: 1px solid grey;
  margin-bottom: 1rem;
  transition: all 0.3s;
}
.user-card .story-card:hover {
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
}
.user-card .story-card a {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.user-card .story-card img {
  width: 200px;
  height: auto;
}

.button-wrapper{
    display: flex;
    justify-content: space-between;
}

@keyframes bouncing {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-25px);
  }
}
