{% extends "base.html" %} 
{% load static %} 
{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css'%}" />
{% endblock %}
{% block content %} 
{% if request.user.is_authenticated %}
<form action="" method="post" class="custom-form" id="news">
    <h3 class="center">Are you sure you want to delete?</h3>
    {% csrf_token %} {{ form.as_p }}
    <input type="submit" value="Confirm" class="delete"/>
    <a href="#" onclick="javascript:window.history.go(-1)" class="button">Back</a>
  </form>
{% endif %} 
{% endblock %}
