{% extends "base.html" %} 
{% load static %} 
{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css'%}" />
{% endblock %} {% block content %}
<div id="story-wrapper">
  {% if story.image %}
  <img class="story-image" src="{{ story.image }}" />
  {% else %}
  <img
    class="story-image"
    src="{% static '/news/images/placeholder-5.jpg' %}"
  />
  {% endif %}
  <h2>{{ story.title }}</h2>
  <h4>{{ story.author }}</h4>
  <div id="story-content">{{ story.content|linebreaks }}</div>
</div>
<h4>Comments</h4>
<div class="comment-section">
  {% for comment in story.comments.all %}
  <div class="comment-item">
    <div class="comment-header">
      <div class="user-image">
        <img src="{{comment.author.image}}" />
      </div>
      <p><strong>{{comment.author}}</strong></p>
      <p>{{comment.pub_date|timesince}} ago</p>
    </div>
    <p>{{comment.content}}</p>
  </div>
  {%endfor%}
</div>

{% if request.user.is_authenticated %}

<h4>Add Comments</h4>
<form action="{% url 'news:addComment' story.id %}" method="post" class="custom-form" id="comment">
  {% csrf_token %} {{ commentform.as_p }}
  <input type="submit" value="submit" />
</form>
{% else %}
<div>
  <p>Please <b><a href="{% url 'login' %}">Login</a></b> to write a comment</p>
</div>
{% endif %} 
<h4>Other stories by {{story.author}}</h4>
{% if other_stories %}
<div class="story-wrapper">
{% for other_story in other_stories %}
      {% include "./storyCard.html" with story=other_story %}
      {% empty %}
      <p>No other stories found by this author.</p>
      {% endfor %}
    </div>
  {% endif %}
{% endblock %}
